# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Для работы с кодом (это для того что бы в репозитории не было служебных папок .vs и .vscode + служебные файлы)
.vscode
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.filters
*.vcxproj.user
*.user
